body {
  background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
}

.item {
  border: 2px solid rgb(255, 255, 255);
  padding: 10px;
  border-radius: 20px;
}

.item-title {
  text-transform: uppercase;
  text-align: center;
  font-weight: 600;
}

.item-image {
  height: 300px;
  width: 300px;
  display:block;
  margin:auto;
}

.item-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0px 15px;
}

.item-details > .item-price {
  margin: 0;
}

.item-button {
  background-color: #00DBDE ;
  border: 2px solid rgb(255, 255, 255);
}

/* Estilo carrito de compra */

.shopping-cart-items {
  padding: 20px 0px;
}

.shopping-cart-header {
  border-bottom: 1px solid #ccc;
}

.shopping-cart-image {
  max-width: 80px;
  border-radius: 20px;
}

.shopping-cart-quantity-input {
  max-width: 45px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background: #eee;
  padding: 5px;
}

.shopping-cart-total {
  min-height: 96px;
}
